body{
    margin: 10px;
    background-color: rgb(241, 122, 122);
}


.container{
    height: 90vh;
    border: 19px;
    display: flex;
    
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.box{
    width: 15rem;
    height: 15rem;
    background-color: rgb(255, 0, 255);
    margin: 10px;
    font-size: 25px;

}